.device(
    class=name
    style="--limit:"+(+step*5)
    )
    .scale
        svg(viewbox="0 0 500 175")
            path(
                id="curve"+uuid
                fill="transparent"
                d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97"
            )
            path(
                id="curve2"+uuid
                fill="transparent"
                transform="translate(-30, -30) scale(1.12)" 
                d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97"
            )

            text.numbers.min(
                transform="translate(73.2, 172)" 
                text-anchor="middle"
            ) 0
            text(width="500").numbers
                textpath(xlink:href="#curve2"+uuid xml:space="preserve")
                    each i in [0, 1, 2, 3, 4]
                        - var j = i * (+step)
                        | #{(j || " ") + " ".repeat(8 - j.toString().length - ((i==4)? (j + step).toString().length - 1: 0))}
            text.numbers.min(
                transform="translate(425, 172)" 
                text-anchor="middle"
            ) !{5 * (+step)}

            if compact === "true"
                text(width="500").deviders
                    textpath(xlink:href="#curve"+uuid)
                        | | . . . . | . . . . | . . . . | . . . . | . . . . |
            else
                text(width="500").deviders
                    textpath(xlink:href="#curve"+uuid)
                        | |....|....|....|....|....|....|....|....|....|....|
    .arrow
    div(
        class=buttons ? "label with-buttons" : "label"
    )=label
    if precision
        .precision #{precision.replace(".",",")}
    .system ⩂

    if buttons === "true"
        .buttons
            each range, index in JSON.parse(ranges)
                input(
                    id=name+"-radio-"+index+"-"+uuid
                    type="radio"
                    name=name+"-range" + ((fixed != null) ? "-fixed" : "")
                    value=range
                    checked=(index==(fixed || 0))
                    disabled=(fixed != null)
                    onclick=(fixed != null)? "" : "Devices.updateValues()"
                )
                label(
                    for=name+"-radio-"+index+"-"+uuid
                    style="--hue:"+(index / JSON.parse(ranges).length * 255 + 17)
                )=("x" + range)
