label.variants
    select(
        controller="variant"
        onchange="Controller.setVariant(this.value)"
    )
        option(value=0) Пример
        - for (var i = 1; i <= 30; ++i) {
            option(value=i) Вариант #{i}
        - }

.content
    .elements
        .meter.voltmeter(
            view="device"
            data-buttons="false"
            data-name="voltmeter"
            data-label="V"
            data-step="2"
            data-ranges="[0.5, 1, 2, 3]"
            data-precision="1.5"
        )
        .meter.ampermeter(
            view="device"
            data-buttons="false"
            data-name="ampermeter"
            data-label="mA"
            data-step="20"
            data-ranges="[1, 2, 5, 20]"
            data-precision="2.0"
        )
    .table

button.next(onclick="Tabs.change('machine')" disabled) Продолжить