if example !== "true"
    label.variants
        select(
            controller="variant"
            onchange="Controller.setVariant(this.value)"
        )
            option(selected disabled) Ваш Вариант?
            - for (var i = 1; i <= 30; ++i) {
                option(value=i) Вариант #{i}
            - }

.content
    .elements.swapped
        .meter.voltmeter(
            view="device"
            data-example=example
            data-buttons="false"
            data-name="voltmeter"
            data-label="V"
            data-step="2"
            data-ranges="[0.5, 1, 2, 3]"
            data-precision="1.0"
            data-compact="false"
        )
        .meter.ampermeter(
            view="device"
            data-example=example
            data-buttons="false"
            data-name="ampermeter"
            data-label="mA"
            data-step="5"
            data-ranges="[1, 2, 5, 20]"
            data-precision="1.0"
            data-compact="true"
        )
    .table

.buttons
    if example === "true"
        button.next(onclick="Tabs.change('table')") Продолжить
    else
        button(onclick="Tabs.change('example')") Назад
        button.next(onclick="Tabs.change('machine')" disabled) Продолжить