.header=title
.content
    if example !== "true" && complex !== "true"
        label.variants(data-chosen="none")
            select(
                controller="variant"
                onchange="Controller.setVariant(this.value);this.parentElement.dataset.chosen = this.value;"
            )
                option(selected disabled) Ваш Вариант?
                - for (var i = 1; i <= 30; ++i) {
                    option(value=i) Вариант #{i}
                - }

    .elements.swapped
        .meter.voltmeter(
            view="device"
            data-example=example
            data-buttons=complex
            data-name="voltmeter"
            data-label="V"
            data-step="2"
            data-ranges="[0.5, 1, 2, 3]"
            data-precision="1.0"
            data-compact="false"
            data-fixed="0"
        )
        .meter.ampermeter(
            view="device"
            data-example=example
            data-buttons=complex
            data-name="ampermeter"
            data-label="mA"
            data-step="5"
            data-ranges="[1, 2, 5, 20]"
            data-precision="1.0"
            data-compact="true"
            data-fixed="0"
        )
    .table
    if complex === "true"
        .table2

.buttons
    if example === "true"
        button.next(onclick="Tabs.change('table')") Продолжить
    else
        if complex === "true"
            button(onclick="Tabs.change('table')") Назад
            button.next(onclick="Tabs.change('machine')" disabled) Продолжить
        else
            button(onclick="Tabs.change('example')") Назад
            button.next(onclick="Tabs.change('complex')" disabled) Продолжить