.header Измерительный стенд для тестирования
.machine(controller="machine")
	.inactive(view="circuit")
	img(src="assets/images/machine.svg" draggable="false")
	.slot(ondrop="Controller.dropResistor(event)" ondragover="Controller.allowDrop(event)")

	input(
		type="checkbox" id="clamp-left"
		bind="data.clamps.left"
		onclick="Controller.updateStage()"
	)
	label(for="clamp-left").clamp.left
	input(
		type="checkbox" id="clamp-right"
		bind="data.clamps.right"
		onclick="Controller.updateStage()"
	)
	label(for="clamp-right").clamp.right

	.resistors
		- resistances = [50, 100, 120, 200]
		each resistance in resistances
			.resistor(
				draggable="true"
				data-resistance=resistance
				ondragstart="Controller.dragResistor(event)"
				onclick="Controller.setResistor(this.dataset.resistance)"
			)

	.hint
		p(class!="item " + data.resistor) Закрепите резистор к клеммам
		p(class!="item " + data.clamps.left) Закрутите левую клемму
		p(class!="item " + data.clamps.right) Закрутите правую клемму
		p(class!="item " + data.power) Включите установку
		p(class!="item " + data.voltage) Установите 24В

	.toggles
		label.toggle
			input(
				type="checkbox"
				bind="data.voltage"
				onclick="Controller.updateStage()"
			)
			span.left 24V
			span.right &#x2B58;
		label.toggle
			input(
				type="checkbox"
				bind="data.power"
				onclick="Controller.updateStage()"
			)
			span.left |
			span.right &#x2B58;

.disclaimer
	| На данной странице представлен лишь макет реального стенда.
	br
	| Подробнее о том как выглядит настоящая установка можно узнать в 
	a(href="#help3" target="_blank") разделе помощи
	|.